#side-bar {
    position: sticky;
    top: 0;
}

#theme-icon {
    position: absolute;
    cursor: pointer;
    left: 70px;
    top: 31px;
    z-index: 1;
}

#menu-icon {
    position: absolute;
    width: 35px;
    margin: 26px;
    transition: transform 0.5s;
    cursor: pointer;
}

#side-bar-navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    font-size: 12pt;
    font-family: 'Raleway', sans-serif;
    margin: 70px 25px 25px 25px;
    animation: appear 0.5s linear;
}

@keyframes appear {
    0% {color: black;}
    100% {}
}

#side-bar-navigation p { margin: 5px 0 5px 0; }